@page
@model HREntity.Pages.About.IndexModel

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<div class="container" style="background-color:darkgray;">
    <div class="row">
        @foreach (var item in Model.Achievments) {
        <div class="col-md-12">
            <h1 class="text-lg-center">@Html.DisplayFor(modelItem => item.Title)</h1>
            <p> @Html.DisplayFor(modelItem => item.Description)</p>
            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a> 
            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> 
            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a>
        </div>
        <hr/>
        }
    </div>

</div>

<div class="container">
    <div class="row">
        <h1 class="text-center"> About Us</h1>
        <p class="text-body;">
            <b>We respect the privacy of our website visitors</b>
            <br/>
            HR.com and its affiliates and partners respect the privacy of its visitors. The following process explains our information gathering and disseminating practices at HR.com. Please read this information so that you can feel comfortable about participating in our community.

            This Privacy Policy is subject to the Terms and Conditions (the "TC") posted on the Site, including the provisions regarding change or modification of this Privacy Policy and other policies as set forth in the TC. You are responsible for checking this page periodically for changes and updates to the Privacy Policy. Your use of the Site following any posted changes to the Privacy Policy will be deemed an acceptance of such changes. This Privacy Policy is part of, and incorporated into, the TC.
            <hr/>
            </p>
            <b>What types of information do we collect?</b><br/>
            <p>
                                                               Personal Information: As an HR.com member you may be required to provide certain information about yourself upon registration such as your name, company, and, email address, and in the instance of a purchase, your credit card information. Upon further visits to HR.com, we may ask you to further complete your profile with the following information: address, areas and topics of interest, company name, job title, and your function in the human resources field (ie. HR professional vs. HR solution provider). By providing any personal information to this website, you fully understand and unambiguously consent to the collection and processing of such information in any country.
                <br/>
                                                               In some cases, HR.com may also leverage third party tools to collect additional (publicly available) information for your profile, or to update existing data and information which you have provided HR.com. The type(s) of data that we could collect using these tools are only those that HR.com asks for during website registration. HR.com does not aim to collect additional person information on users which we do not ask for upfront; upon registration to our website.
                
                                                           </p>
        <hr/>
    </div>
</div>
